<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Completed</title>
    <link rel="stylesheet" href="{% static 'css/style4.css' %}" type="text/css" />

</head>
<body>
    <div class="container">
        <img src="{% static '/images/email.jpg' %}" alt="Image" class="header-image" style="height: 50%; width: 50%; align-items: center;">
        <h2>Reset Password</h2>
        <p>Please check your inbox and follow the instruction to reset your password.</p>
    </div>
</body>
</html>