{% extends "platform/common.html" %}
{% load static %}  

{% block content %}
	
<style>
	.error-message {
	  color: red;
	}
  </style>

<div class="untree_co-section">
	<div class="intro-excerpt">
		<h1 style="text-align: center;">Checkout</h1>
	</div>
		<div class="container">
			{% if user.is_authenticated %}
			<div class="row mb-5">
				<div class="col-md-12">
				</div>
			</div>
			{% else %}
			<div class="row mb-5">
			<div class="col-md-12">
			<div class="border p-4 rounded" role="alert">
				Returning customer? <a href="{% url 'Userlogin' %}">Click here</a> to login
			</div>
			</div>
		</div>
			{% endif %}
		<div class="row">
		  <div class="col-md-6 mb-5 mb-md-0">
			<h2 class="h3 mb-3 text-black">Shipping Details</h2>
			  <div class="p-3 p-lg-5 border bg-white" style="min-height: 500px;">
				<div class="form-group row col-12">

					{% csrf_token %}
					{% if not addresses %}

					<div class="alert alert-warning" role="alert">
						<h4 class="alert-heading">Oops, No Address Found!</i></h4>
						<p>Looks like you haven't added an address yet. Please add a new address for delivery.</p>
						<hr>
					  </div>
					
					  {% else %}

					<!--current addresses section-->
						{% csrf_token %}
						{% for address in addresses %}
						<div class="card w-85 mb-3" style="border-radius: 5px;">
							<div class="card-body">
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio"  name="select_address" id="address{{ address.id }}" value="{{ address.id }}">
									<label class="form-check-label"  for="address{{ address.id }}" >Address {{ forloop.counter }}</label>
								</div>
								<p  class="card-text">{{ address.first_name }} {{ address.last_name }}, {{ address.street_address }}, {{ address.landmark }} {{ address.city }}, {{ address.state }}, {{ address.pin_code }}, {{ address.country }}</p>
							</div>
						</div>
						{% endfor %}
					
					{% endif %}
					<!--address section end-->

			<!--another address section-->
			
			<div class="form-group" style="margin-top: 10px;">
				{% if not addresses %}
				<label for="c_ship_different_address" class="text-black" data-bs-toggle="collapse" href="#ship_different_address" role="button" aria-expanded="false" aria-controls="ship_different_address"><input type="checkbox" value="1" id="c_ship_different_address"> Where would you like your order shipped? </label>
				{% else %}
				<label for="c_ship_different_address" class="text-black" data-bs-toggle="collapse" href="#ship_different_address" role="button" aria-expanded="false" aria-controls="ship_different_address"><input type="checkbox" value="1" id="c_ship_different_address"> Ship to anothor Address? </label>
				{% endif %}

				<div class="collapse" id="ship_different_address">
					<div class="py-2">
					<form action="{% url "ship_to_another" %}" method="POST" id="shipToAnother">
						{% csrf_token %}
						<div class="form-group row">
							<div class="col-md-6">
								<label for="c_diff_fname" class="text-black">First Name <span class="text-danger">*</span></label>
								<input type="text" class="form-control" id="fname" name="fname" placeholder="First name">
								<div class="error-message"></div>
							</div>
			
							<div class="col-md-6">
								<label for="c_diff_lname" class="text-black">Last Name <span class="text-danger">*</span></label>
								<input type="text" class="form-control" id="lname" name="lname" placeholder="Last name">
								<div class="error-message"></div>
							</div>
						</div>
			  
						<div class="form-group row">
							<div class="col-md-12">
								<label for="c_address" class="text-black">Address <span class="text-danger">*</span></label>
								<textarea class="form-control" type="text" name="c_address" id="c_address" rows="2" placeholder="Street address"></textarea>
								<div class="error-message"></div>
							</div>
						</div>
			
						<div class="form-group row">
							<div class="col-md-12">
								<label for="c_companyname" class="text-black">City <span class="text-danger">*</span></label>
								<input type="text" class="form-control" id="city" name="city" placeholder="City">
								<div class="error-message"></div>
							</div>
						</div>
			
						<div class="form-group row">
							<div class="col-md-12">
								<label for="c_companyname" class="text-black">Landmark <span class="text-danger">*</span></label>
								<input type="text" class="form-control" id="landmark" name="landmark" placeholder="Landmark">
								<div class="error-message"></div>
							</div>
						</div>
			
						<div class="form-group row">
							<div class="col-md-6">
								<label for="c_diff_fname" class="text-black">Country <span class="text-danger">*</span></label>
								<input type="text" class="form-control" id="country" name="country" placeholder="Country">
								<div class="error-message"></div>
							</div>
			
							<div class="col-md-6">
								<label for="c_diff_state_country" class="text-black">State <span class="text-danger">*</span></label>
								<input type="text" class="form-control" id="state" name="state" placeholder="State">
								<div class="error-message"></div>
							</div>
						</div>
			
						<div class="form-group row">
							<div class="col-md-6">
								<label for="c_diff_postal_zip" class="text-black">Postal / Zip <span class="text-danger">*</span></label>
								<input type="text" class="form-control" id="postal_zip" name="postal_zip" placeholder="Postal / Zip">
								<div class="error-message"></div>
							</div>
			
							<div class="col-md-6">
								<label for="c_diff_phone" class="text-black">Phone <span class="text-danger">*</span></label>
								<input type="text" class="form-control" id="c_phone" name="c_phone" placeholder="Alternative Phone Number">
								<div class="error-message"></div>
							</div>
						</div>
						<hr />
						<button type="submit" class="btn btn-primary">Add New</button>
					  </div>
					</form>
				</div>
			    </div>
			</div>
		  </div>
		</div>
		<!--end section-->

		<!--coupon section-->

		<div class="col-md-6">
			{% csrf_token %}
			<div class="row mb-5">
			<div class="col-md-12">
				<h2 class="h3 mb-3 text-black">Coupon Code</h2>
				<div class="p-3 p-lg-5 border bg-white">

				<label for="c_code" class="text-black mb-3">Enter your coupon code if you have one. </label> 
				<div class="input-group w-90 couponcode-wrap">
					<input type="text" class="form-control me-2" id="couponCode" name='coupon_code' placeholder="Coupon Code" aria-label="Coupon Code" aria-describedby="button-addon2">
					<div class="input-group-append">
					<button class="btn btn-black btn-sm" type="submit" onclick="applyCoupon()" id="button-addon2" style="border-radius: 10px; margin-left: 10px; background-color: green;">Apply </button>
					</div>

					<div class="input-group-append">
						<button class="btn btn-black btn-sm" type="submit" onclick="removeCoupon()" id="button-addon2" style="border-radius: 10px; margin-left: 10px; background-color: darkred;">Cancel </button>
					</div>

				</div>
				<div class="input-group-append" style="margin-top: 20px;">
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Available Coupons
					</button>
				</div>
				

				<!--coupons modal-->
				<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Available Coupons</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<div class="row">
									{% for coupon in valid_coupons %}
									<div class="col-12 mb-3">
										<div class="card h-100">
											<div class="card-body">
												<h5 class="card-title">{{ coupon.name }}</h5>
												<h6 class="card-title">Shop now and save!</h6>
												<p class="card-text">Spend at least ₹{{ coupon.min_purchase }} and instantly receive a {{ coupon.discount_value }}% discount on your entire order. This amazing deal is valid until {{ coupon.expiry_date }}. Don't wait – grab your savings today!</p>
												<div class="copy-text d-flex">
													<input type="text" class="form-control me-2" value="{{ coupon.code }}" readonly />
													<button class="btn btn-secondary" onclick="copyCouponCode(this)"><i class="fa fa-clone"></i></button>
												</div>
											</div>
										</div>
									</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
				
			  <!--end modal-->

			</div>
			</div>
			</div>

		<!--coupon end-->

			<!--order Section-->
			<div class="row mb-5">
			<div class="col-md-12">
				<h2 class="h3 mb-3 text-black">Your Order</h2>
				<div class="p-3 p-lg-5 border bg-white">
				<table class="table site-block-order-table mb-5">
					<thead>
					<th>Product</th>
					<th>Total</th>
					</thead>
					<tbody>
						{% for items in obj  %}
					<tr>
						<td>{{items.product.Pro_name}} <strong class="mx-2"></td>
						<td>&#8377; {{items.cart_price}}</td>
					</tr> 
					{% endfor %}
					<tr>
						<td class="text-black font-weight-bold"><strong>Cart Subtotal</td>
						<td class="text-black">&#8377; {{sub_total}}</td>
					</tr>

					<tr>
						<td class="text-black font-weight-bold"><strong>Delivery Charge</strong></td>
						<td class="text-black"><strong>{% if sub_total < 1000 %} &#8377;  {{delivery_charge}} {% else %}<p style="color: green;">free delivery</p>{% endif %}</strong></td>
					</tr>

					<tr>
						<td class="text-black font-weight-bold"><strong>Order Total</strong></td>
						<td class="final-total"><strong> &#8377; {{sub_total}}</strong></td>
					</tr>
					
					</tbody>
				</table>

				<h6 style="margin-bottom: 20px; color: black;">Choose your payment Source</h6>
				  <div class="form-check">
					<input class="form-check-input" type="radio" name="payment" value="COD" id="flexRadioDefault1" >
					<label class="form-check-label" for="flexRadioDefault1">
					  Cash On Delivery
					</label>
				  </div>
				  
				  <div class="form-check">
					<input class="form-check-input" type="radio" name="payment" value="razorepay" id="flexRadioDefault1">
					<label class="form-check-label" for="flexRadioDefault1">
					  Razorepay
					</label>
				  </div>
				  
				  <div class="form-check">
					<input class="form-check-input" type="radio" name="payment" value="wallet" id="flexRadioDefault2">
					<label class="form-check-label" for="flexRadioDefault2">
					  Wallet
					</label>
				  </div>

					<div>
						<div class="form-group" style="margin-top: 20px;">
							<button type="button" onclick="place_order()" id="placeOrderButton" class="btn btn-outline-black btn-sm btn-block" style="background-color: green;">Place Order</button>
						</div>
					</div>
				</div>
			  </div>
			</div>
			<!--order section end-->
		  </div>
		</div>
	</div>
</div>

<!--coupon modal-->

<script>
	function copyCouponCode(button) {
		let input = button.parentElement.querySelector(".text");
		input.select();
		document.execCommand("copy");
		showCopyMessage();
	}
	
	function showCopyMessage() {
		let copyMessage = document.querySelector(".copy-message");
		copyMessage.classList.add("active");
		setTimeout(function () {
			copyMessage.classList.remove("active");
		}, 2000);
	}
</script>


<!--coupon applay-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

	function getCSRFToken() {
		var cookies = document.cookie.split(';');
		for (var i = 0; i < cookies.length; i++) {
			var cookie = cookies[i].trim();
			if (cookie.startsWith('csrftoken=')) {
				return cookie.substring('csrftoken='.length, cookie.length);
			}
		}
		return '';
	}


	<script>
		function copyCouponCode(button) {
			let input = button.parentElement.querySelector(".text");
			input.select();
			document.execCommand("copy");
			showCopyMessage();
		}
		
		function showCopyMessage() {
			let copyMessage = document.querySelector(".copy-message");
			copyMessage.classList.add("active");
			setTimeout(function () {
				copyMessage.classList.remove("active");
			}, 2000);
		}
	</script>
	
	
	<!--coupon applay-->
	
	<script>
	
		function getCSRFToken() {
			var cookies = document.cookie.split(';');
			for (var i = 0; i < cookies.length; i++) {
				var cookie = cookies[i].trim();
				if (cookie.startsWith('csrftoken=')) {
					return cookie.substring('csrftoken='.length, cookie.length);
				}
			}
			return '';
		}
		
	
		function applyCoupon() {
			var couponCode = $('#couponCode').val();
			console.log(couponCode);
	
			$.ajax({
				url: '../apply_coupons/',
				type: 'POST',
				data: {
					couponCode: couponCode,
					csrfmiddlewaretoken: getCSRFToken()
				},
				success: function (data) {
					console.log(data);
	
					if ('error' in data) {
						$('#couponError').text(data.error);
					} else {
						$('.coupon-discount').text('₹ ' + data.discount_amount);
						$('.final-total').text('₹ ' + data.total);
	
						
						$('#couponCode').val(couponCode); 
	
						$('#couponError').text('');
						Swal.fire({
							icon: 'success',
							title: "Coupon Applied Successfully",
							confirmButtonText: 'OK',
						});
					}
				},
				error: function (jqXHR, textStatus, errorThrown) {
					console.error('Error:', errorThrown);
					var errorResponse = JSON.parse(jqXHR.responseText);
					var errorMessage = errorResponse.error;
					Swal.fire({
						icon: 'error',
						title: "Error",
						text: errorMessage,
						confirmButtonText: 'OK',
					});
				}
			});
		}
	
		function removeCoupon() {
			var couponCode = $('#couponCode').val();
			console.log("clicked");
	
			$.ajax({
				url: '../remove_coupon/',
				type: 'POST',
				data: {
					couponCode: couponCode,
					csrfmiddlewaretoken: getCSRFToken()
				},
				success: function (data) {
					console.log(data);
	
					if ('error' in data) {
						$('#couponError').text(data.error);
						
					}else {
						$('.coupon-discount').text('₹ '+ 0);
						$('.final-total').text('₹ '+data.total);
	
						// Clear the value of the coupon code input field
						$('#couponCode').val(''); // Remove the coupon code
	
						$('#couponError').text('');
						Swal.fire({
							icon: 'success',
							title: "Coupon Removed Successfully",
							confirmButtonText: 'OK',
						});
					}
				},
				error: function (jqXHR, textStatus, errorThrown) {
					console.error('Error:', errorThrown);
					var errorResponse = JSON.parse(jqXHR.responseText);
					var errorMessage = errorResponse.error;
					Swal.fire({
						icon: 'error',
						title: "Error",
						text: errorMessage,
						confirmButtonText: 'OK',
					});
				}
			});
		}
	
	</script>

<!--ship to another validation-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#shipToAnother').on('submit', function (e) {
            e.preventDefault();
            var form = $(this);
            var fname = $('#fname').val().trim();
            var lname = $('#lname').val().trim();
            var c_address = $('#c_address').val().trim();
            var city = $('#city').val().trim();
            var landmark = $('#landmark').val().trim();
            var country = $('#country').val().trim();
            var state = $('#state').val().trim();
            var postal_zip = $('#postal_zip').val().trim();
            var c_phone = $('#c_phone').val().trim();
            var isValid = true;

            if (fname.length < 4) {
                $('#fname').siblings('.error-message').addClass('error').text('Minimum 4 characters required');
                isValid = false;
            } else {
                $('#fname').siblings('.error-message').removeClass('error').text('');
            }

            if (lname.length < 4) {
                $('#lname').siblings('.error-message').addClass('error').text('Minimum 4 characters required');
                isValid = false;
            } else {
                $('#lname').siblings('.error-message').removeClass('error').text('');
            }

            if (c_address.length < 4) {
                $('#c_address').siblings('.error-message').addClass('error').text('Minimum 4 characters required');
                isValid = false;
            } else {
                $('#c_address').siblings('.error-message').removeClass('error').text('');
            }

            if (city.length < 4) {
                $('#city').siblings('.error-message').addClass('error').text('Minimum 4 characters required');
                isValid = false;
            } else {
                $('#city').siblings('.error-message').removeClass('error').text('');
            }

            if (landmark.length < 4) {
                $('#landmark').siblings('.error-message').addClass('error').text('Minimum 4 characters required');
                isValid = false;
            } else {
                $('#landmark').siblings('.error-message').removeClass('error').text('');
            }

            if (country.length < 4) {
                $('#country').siblings('.error-message').addClass('error').text('Minimum 4 characters required');
                isValid = false;
            } else {
                $('#country').siblings('.error-message').removeClass('error').text('');
            }

            if (state.length < 4) {
                $('#state').siblings('.error-message').addClass('error').text('Minimum 4 characters required');
                isValid = false;
            } else {
                $('#state').siblings('.error-message').removeClass('error').text('');
            }

            if (!$.isNumeric(postal_zip) || postal_zip.length !== 6) {
                $('#postal_zip').siblings('.error-message').addClass('error').text('Enter a valid Postal / Zip code (6 digits)');
                isValid = false;
            } else {
                $('#postal_zip').siblings('.error-message').removeClass('error').text('');
            }

            if (!$.isNumeric(c_phone) || c_phone.length !== 10) {
                $('#c_phone').siblings('.error-message').addClass('error').text('Enter a valid Phone number (10 digits)');
                isValid = false;
            } else {
                $('#c_phone').siblings('.error-message').removeClass('error').text('');
            }

            if (!isValid) {
                return false;
            }

            $.ajax({
                type: 'POST',
                url: form.attr('action'),
                data: form.serialize(),
                success: function (response) {
                    Swal.fire({
                        position: "top-center",
                        icon: "success",
                        title: 'Address added successfully',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(function() {
                        window.location.reload();
                    });
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log(xhr);
                    alert('Error occurred while submitting the form. Please try again.');
                }
            });
        });

        $('.form-control').focus(function () {
            $(this).siblings('.error-message').removeClass('error').text('');
        });
    });
</script>

<!--place the order-->

<script>
    function place_order() {
		var couponCode = $('#couponCode').val();
console.log(couponCode);

		var selectedAddress = $("input[name='select_address']:checked").val();
		var selectedPayment = $("input[name='payment']:checked").val();
		console.log(selectedPayment)
		var csrfToken = $("input[name='csrfmiddlewaretoken']").val();

		if (!selectedAddress) {
			alert("Please select a shipping address.");
			return;
		}
		if (!selectedPayment) {
			alert("Please select a payment method.");
			return;
		}
		
		if (selectedAddress && selectedPayment) {
			
	
			if (selectedPayment === 'COD') {
				var data = {
					selected_address: selectedAddress,
					couponCode: couponCode,
					payment: selectedPayment,
					csrfmiddlewaretoken: csrfToken,
				};
				$.ajax({
					url: '../place_order/',
					type: 'post',
					data: data,
					success: function(response) {
						if (response.success) {
							window.location.href='../view_order/'
						} else {
							Swal.fire({
								icon: 'error',
								title: 'Error',
								text: response.message,
								confirmButtonText: 'Ok'
							});
						}
					}
				});
				
			}else if (selectedPayment === 'wallet') {
				var data = {
					selected_address:selectedAddress,
					payment:selectedPayment,
					couponCode:couponCode,
					csrfmiddlewaretoken: csrfToken,
				};
				$.ajax({
					type: 'post',
					url: '../place_order_wallet/',
					data: data,
					success: function(response) {
						if (response.success) {
							console.log('done');
							window.location.href='../view_order/'
						} else {
							Swal.fire({
								icon: 'error',
								title: 'Error',
								text: response.message,
								confirmButtonText: 'Ok'
							});
						}
					}
				});
			}else if (selectedPayment === 'razorepay') {
				var data = {
					
					selected_address:selectedAddress,
					payment:selectedPayment,
					couponCode:couponCode,
					csrfmiddlewaretoken: csrfToken,
				};
				$.ajax({
					type: 'post',
					url: '../order_razorpay/',
					data: data,
					success:function (response){
						var order_id=response.order_id
						var options = {
							"key": "rzp_test_F4i5wCsFw7GaJK", 
							"amount": response.amount, 
							"currency": "INR",
							"name": "StyleNest", 
							"description": "Thank You for Buying from Us",
							"image": "{% static '/images/logo.jpeg' %}",
							"callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
							
							"handler": function (responseb){
								// alert(responseb.razorpay_order_id);
								//alert(responseb.razorpay_payment_id);
								// alert(responseb.razorpay_signature);
								var data = {
									order_id:response.order_id,
									selected_address: selectedAddress,
									payment: selectedPayment,
									csrfmiddlewaretoken: csrfToken, 
									total_amount: responseb.amount,	
									payment_id : responseb.razorpay_payment_id,
								};
								$.ajax({
									type: 'post',
									url: '../payment_confirm/',
									data: data,
									success: function(response) {
										if (response.success) {
											window.location.href = '../view_order/';
										} else {
											alert('Error: ' + response.message);
										}
									}
								});							
							}
						};
						var rzp1 = new Razorpay(options);
						rzp1.open();
					}					
				});				
			}
		  	else {
			  alert("Please select an address and payment method.");
		  	}
		}else{
			alert('There is no items in your cart');
		}
	}
	
</script>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

{% endblock %}