{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="Untree.co" />
    <link rel="shortcut icon" href="{% static '/images/logo.jpeg' %}" />

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css'  %}" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-sb3+xhO19oOMGt/yTlq7PBj1hIQP6hlK+D3Hx6/rGqUOQ1Pz4HjXtmN6umEhLyGvWdB12gwx0d51/z8rq2BGjA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    
    <link href="{% static 'css/tiny-slider.css' %}" rel="stylesheet" />
    <link
      rel="stylesheet"
      href={% static 'css/style_1.css' %}
      type="text/css"
    />
    
    <title>StyleNest</title>
    
  </head>

  <body>

    <style>
      .btn-group.dropstart > .dropdown-toggle::after {
        display: none;
    }
    </style>

    <!-- Start Header/Navigation -->
    <nav class="custom-navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">
      <div class="container-fluid">
        <a href="{% url 'home' %}" class="navbar-brand">StyleNest</a>
    
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarsFurni">
          <form class="d-flex ms-auto" action="../../search_products" method="get">
            <div class="input-group">
              <input class="form-control form-control-sm me-2" name="search" type="search" placeholder="Search" aria-label="Search" style="height: 20px; font-size: 0.8rem; border-radius: 10px;">
              <i class="fas fa-search" style="font-size: 1.5rem; cursor: pointer; color: black;" onclick="this.closest('form').submit();"></i>
            </div>
          </form>
    
          <ul class="custom-navbar-nav navbar-nav">
            <li><a class="nav-link" href="{% url 'home' %}">Home</a></li>
            <li><a class="nav-link" href="{% url 'shop' %}">Shop</a></li>
            <li><a class="nav-link" href="{% url "about_us" %}">About us</a></li>
            <li><a class="nav-link" href="{% url "contact" %}">Contact us</a></li>
          </ul>
    
          <ul class="custom-navbar-cta navbar-nav">
            <li>
              {% if user.is_authenticated %}
              <div class="btn-group">
                <button type="button" class="btn btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fas fa-user"></i>
                  {{user.first_name}}
                </button>
    
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'cart_page' %}"><i class="fas fa-cart-shopping"></i> Cart</a></li>
                  <li><a class="dropdown-item" href="{% url 'wishlist' %}"><i class="fas fa-heart"></i> Wishlist</a></li>
                  <li><a class="dropdown-item" href="{% url 'orders' %}"><i class="fas fa-box-open"></i> Order Details</a></li>
                  <li><a class="dropdown-item" href="{% url 'wallet' %}"><i class="fas fa-wallet"></i> Wallet</a></li>
                  <li><a class="dropdown-item" href="{% url 'my_details' %}"><i class="fas fa-user"></i> Profile Info</a></li>
                  <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                </ul>
              </div>
    
              {% else %}
              <div class="btn-group dropstart">
                <a class="nav-link dropdown-toggle" role="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="{% static '/images/user.svg' %}"/>
                </a>
    
                <ul class="dropdown-menu" aria-labelledby="userDropdown">
                  <li><a class="dropdown-item" href="{% url 'cart_page' %}"><i class="fas fa-cart-shopping"></i> Cart</a></li>
                  <li><a class="dropdown-item" href="{% url 'Userlogin' %}"><i class="fas fa-heart"></i> Wishlist</a></li>
                  <li><a class="dropdown-item" href="{% url 'Userlogin' %}"><i class="fas fa-box-open"></i> My Order</a></li>
                  <li><a class="dropdown-item" href="{% url 'Userlogin' %}"><i class="fas fa-wallet"></i> Wallet</a></li>
                  <li><a class="dropdown-item" href="{% url 'Userlogin' %}"><i class="fas fa-user"></i> My Profile</a></li>
                  <li><a class="dropdown-item" href="{% url 'Userlogin' %}"><i class="fas fa-right-to-bracket"></i> Login</a></li>
                </ul>
              </div>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Header/Navigation -->

    {% block content %} 
    
    {% endblock %}

    <!-- Start Footer Section -->
    <footer class="footer-section">
      <div class="container relative">
        <div class="row">
          <div class="col-lg-8">
            <div class="subscription-form">
              <h3 class="d-flex align-items-center">
                <span class="me-1"
                  ><img
                    src="{% static '/images/envelope-outline.svg' %}"
                    alt="Image"
                    class="img-fluid" /></span
                ><span>Subscribe to Newsletter</span>
              </h3>

              <form action="#" class="row g-3">
                <div class="col-auto">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter your name"
                  />
                </div>
                <div class="col-auto">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Enter your email"
                  />
                </div>
                <div class="col-auto">
                  <button class="btn btn-primary">
                    <span class="fa fa-paper-plane"></span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="row g-5 mb-5">
          <div class="col-lg-4">
            <div class="mb-4 footer-logo-wrap">
              <a href="#" class="footer-logo">StyleNest</a>
            </div>
            <p class="mb-4">
              Style Nest: Elevate Your Space with Metal Furniture. Discover Timeless 
              Designs and Quality Craftsmanship. Shop Now for Functional and Stylish Pieces
            </p>

            <ul class="list-unstyled custom-social">
              <li>
                <a href="#"><span class="fa fa-brands fa-facebook-f"></span></a>
              </li>
              <li>
                <a href="#"><span class="fa fa-brands fa-twitter"></span></a>
              </li>
              <li>
                <a href="#"><span class="fa fa-brands fa-instagram"></span></a>
              </li>
              <li>
                <a href="#"><span class="fa fa-brands fa-linkedin"></span></a>
              </li>
            </ul>
          </div>

          <div class="col-lg-8">
            <div class="row links-wrap">
              <div class="col-6 col-sm-6 col-md-3">
                <ul class="list-unstyled">
                  <li><a href="#">About us</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Contact us</a></li>
                </ul>
              </div>

              <div class="col-6 col-sm-6 col-md-3">
                <ul class="list-unstyled">
                  <li><a href="#">Support</a></li>
                  <li><a href="#">Knowledge base</a></li>
                  <li><a href="#">Live chat</a></li>
                </ul>
              </div>

              <div class="col-6 col-sm-6 col-md-3">
                <ul class="list-unstyled">
                  <li><a href="#">Jobs</a></li>
                  <li><a href="#">Our team</a></li>
                  <li><a href="#">Leadership</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                </ul>
              </div>

        <div class="border-top copyright">
          <div class="row pt-4">
            <div class="col-lg-6">
              <p class="mb-2 text-center text-lg-start">
                Copyright &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script>
                . All Rights Reserved. &mdash; Designed with love by
                <a href="https://untree.co">Untree.co</a> Distributed By
                <a hreff="https://themewagon.com">ThemeWagon</a>
                <!-- License information: https://untree.co/license/ -->
              </p>
            </div>

            <div class="col-lg-6 text-center text-lg-end">
              <ul class="list-unstyled d-inline-flex ms-auto">
                <li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer Section -->

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous">
  </script>
    <script src="{% static 'js1/tiny-slider.js' %}"></script>

    <script src="{% static 'js1/custom.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
  </body>
</html>
