{% extends 'platform/common.html' %}
{% load static %}
{% block title %}
Wallet
{% endblock title %}
{% block css %}

<link href="{% static 'home/css/about.css' %}" rel="stylesheet" />
<style>
    .wallet-container {
      margin-top: 50px;
      margin-bottom: 20px;
    }
</style>

{% endblock css %}


{% block content %}
  
  <section id="center" class="center_o pt-4 pb-4 bg-light" style="margin: 20px;">
    <div class="container-xl">
      <div class="row center_o1 text-center">
       <div class="col-md-12">
         <h1>My Wallet</h1>
       </div>
      </div>
    </div>
  </section>
  
  
<div class="container" style="margin-top: 20px;">
  <div class="container wallet-container ">
    <div class="row justify-content-center">
      <!-- Balance Section -->
      <div class="col-10 mb-5">
        <div class="balance-section d-flex justify-content-between align-items-center">
          <div >
              <p>Wallet Balance</p>
              <h1>&#8377;{{balance}}</h1>
          </div>
          <div >
              <label>Add Amount to Wallet : </label>
              {% csrf_token %}
              <div class="input-group w-75 couponcode-wrap">
                <input type="text" class="form-control me-2" id="amount" name='amount' placeholder="Amount in INR" aria-label="amount" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-black btn-sm add-to-wallet-btn" onclick="razor()" style="border-radius: 10px;">Add Amount</button>
                </div>
              </div>
              
          </div>
          <!-- Add more balance-related information or actions here -->
        </div>
      </div>
  
      <!-- History List Section -->
      
      <div class="col-lg-12 ">
          
          <center>
        <div class="history-list col-10 mb-5">
          <table class="table">
            <h4>Payment History</h4>
              <thead>
                
                <tr>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Payment Details</th>
                  <th>Payment Type</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                {% for item in wallett %}
                <tr>
                  <td>{{item.date.date}}</td>
                  <td>{{item.date.time}}</td>
                  <td>{{item.transaction_details}}</td>
                  <td class= "fw-bold {% if item.transaction_type == 'Credit' %}text-success{% else %}text-danger{% endif %}">{{item.transaction_type}}</td>
                  <td>&#8377; {{item.amount}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
      </center>
      
      </div>
    </div>  
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
  function razor() {
    var amount = $("input[name='amount']").val(); // Changed input type to 'name' attribute
    var csrfToken = $("input[name='csrfmiddlewaretoken']").val();

    if (!amount || isNaN(amount) || amount < 1) {
      alert("Please enter a valid amount.");
      return;
    }

    $.ajax({
      type: "POST",
      url: '../add_amount/',
      data: {
        amount: amount,
        csrfmiddlewaretoken: csrfToken
      },
      success: function(data) {
        if (!data.success) {
          alert(data.message);
          return;
        }

        var options = {
          "key": "rzp_test_F4i5wCsFw7GaJK",
          "amount": data.amount, // Amount is already in paise
          "currency": "INR",
          "name": "styleNest",
          "description": "Test Transaction",
          "image": "https://example.com/your_logo",
          "handler": function (response) {
            $.ajax({
              type: "POST",
              url: '../update_wallet/',
              data: {
                csrfmiddlewaretoken: csrfToken
              },
              success: function(response) {
                console.log(response);
                Swal.fire({
                  position: "center",
                  icon: "success",
                  title: "Payment successful!",
                  showConfirmButton: false,
                  timer: 1500
                }).then(function() {
                    window.location.reload();
                  });
              },
              error: function(error) {
                console.log(error);
                Swal.fire({
                  position: "center",
                  icon: "failed",
                  title: "Payment failed!",
                  showConfirmButton: false,
                  timer: 1500
                }).then(function() {
                  window.location.reload();
                });
              },
            });
          },
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
      },
      error: function(error) {
        console.log(error);
        alert("Failed to create Razorpay order!");
      }
    });
  }
</script>

{% endblock content %}

  
