{% extends "platform/common.html" %}
{% load static %}	
{% block content %}

<section class="h-100" style="background-color: #eee;">
  <div class="heading-section" style="text-align: center; margin-top: 40px;">
      <h2>My Wishlist</h2>
    </div>
    <div class="container h-100 py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10">
  
          {% if not wishlist %}
          <div class="empty-cart-message" style="margin-bottom: 20px;">
            <center>
              <i class="fa-solid fa-face-frown my-3 opacity-75" style="color: #000000; font-size:90px"></i>
              <h2 class="cart-heading" >You have no item yet</h2> 
              <p class="cart-subheading text-secondary">There are no items in your Wishlist. <br> Lists for all your shopping needs</p>
              <a href="{% url "shop" %}"><button type="button" class="btn btn-primary">Add now</button></a>
            </center>
          </div>
          {% else %}
          
          {% for item in wishlist %}
            <div class="card mb-3" style="width: 120%; margin-left: -10%;">
              <div class="row g-0">
                <div class="col-md-3">
                  <a class="product-thumb" href="../prod_details/{{ item.product.id }}">
                    <img src="{{ item.product.images.first.Pro_image.url }}" class="img-fluid rounded-start" alt="product">
                  </a>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{ item.product.Pro_name }}</h5>
                    <p class="card-text">{{ item.product.Pro_description }}</p>
                    <p class="card-title">
                      {% if item.product.Pro_offer > 0 %}
                      &#8595;{{ item.product.Pro_offer }} % off
                      {% endif %}
                    </p>
                    <p class="card-title">&#8377; {{ item.product.Pro_price }}</p>
                    <h6 class="card-text" style="color: red;">
                      {% if item.product.stock == 0 %}
                      Out of Stock
                      {% elif item.product.stock <= 5 %}
                      Limitted stocks are available
                      {% else %}
                      <span style="color:green">In Stock</span>
                      {% endif %}
                    </h6>
                    <div class="d-flex justify-content-between align-items-end">
                      <div>
                        <a href="{% url 'remove_wish' item.id %}" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

          {% endif %}
        </div>
      </div>
      <div class="text-center">
        <a href="{% url "shop" %}"><button type="button" class="btn btn-warning btn-lg">Continue</button></a>
      </div>
    </div>
  </section>  

{% endblock %}
